*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
.add_delete_box{
    margin: 5px 5px;
}
.btn_add{
    padding: 5px;
    border-radius: 2px;
    background-color: white;
}
.btn_delete{
    padding: 5px;
    border-radius: 2px;
    background-color: white;
}

.insertbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}
.btn_search{
    padding: 5px;
    border-radius: 2px;
    background-color: white; 
}
.input_text{
    padding: 5px;
}

.btn_search:hover{
    cursor: pointer;
}
.resultbox {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 30px;
}