<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Students Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- กล่องค้นหา -->
    <form method="POST" action="/students" class="insertbox">
        <h3>ค้นหาข้อมูลนักเรียน</h3>
        <input type="text" name="name" placeholder="ชื่อนักเรียน" required class="input_text">
        <button type="submit" class="btn_search">ค้นหา</button>
    </form>

    <!-- กล่องผลลัพธ์ -->
    {% if results is not none %}
    <div class="resultbox">
        {% if results %}
        <h2>ผลลัพธ์การค้นหา</h2>
        <table border="1" cellpadding="12" cellspacing="0" width="30%" align="center">
            <tr>
                <th width="40%" align="center">ชื่อ</th>
                <th width="20%" align="center">อายุ</th>
                <th width="20%" align="center">เกรด</th>
            </tr>
            {% for row in results %}
            <tr>
                <td align="center">{{ row[0] }}</td>
                <td align="center">{{ row[1] }}</td>
                <td align="center">{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p style="color:red;">ไม่พบนักเรียนชื่อ "{{ name }}"</p>
        {% endif %}
    </div>
    {% endif %}

</body>

</html>